<div class="contact">
  <h4>Contacteazăne:</h4>
  <a href="mailto:{{ vars.info_email }}" title="Contacteazăne">{{ vars.info_email }}</a>
</div>
<div class="social-media">
  <a href="{{ vars.faccebook }}" class="facebook" title="Facebook page" target="_blank">
    <img src="/themes/custom/clubulcalatorilor_theme/images/social_facebook_white.png" title="Facebook" alt="Facebook">
  </a>
  <a href="{{ vars.instagram }}" class="instagram" title="Instagram page" target="_blank">
    <img src="/themes/custom/clubulcalatorilor_theme/images/social_instagram_white.png" title="Instagram" alt="Instagram">
  </a>
</div>
<div class="footer-menu">
  {{ vars.footer_menu_block }}
</div>
<div class="copyright">
  © {{ "now"|date('Y') }} Clubul Călătorilor
</div>
