<div class="outer-wrapper cols-4">
  <h2>{{ vars.title }}</h2>
  <div>
    <div class="panel">
      <h3>{{ vars.sections.section_1_title }}</h3>
      {{ vars.sections.section_1_text|raw }}
    </div>
    <div class="panel">
      <h3>{{ vars.sections.section_2_title }}</h3>
      {{ vars.sections.section_2_text|raw }}
    </div>
    <div class="panel">
      <h3>{{ vars.sections.section_3_title }}</h3>
      {{ vars.sections.section_3_text|raw}}
    </div>
    <div class="panel">
      <h3>{{ vars.sections.section_4_title }}</h3>
      {{ vars.sections.section_4_text|raw }}
    </div>
  </div>

  <div class="read-more">
    <a href="/faqs" class="btn--block" title="Citește mai mult">Citește mai mult</a>
  </div>
</div>
